html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#viewport {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: url('QUARTOS/corredor2.jpg');
    background-repeat: no-repeat;
    background-size: 252% auto;
    background-position: left center;
    transition: background-position 0.05s linear;
}

#interaction {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: sans-serif;
    display: none;
    z-index: 15;
}

#interaction-2 {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: sans-serif;
    display: none;
    z-index: 15;
}


#player {
    position: absolute;
    width: 300px;
    left: 50px;
    top: 1000px;
    transition: left 0.05s, top 0.05s;
    z-index: 10;
}

#passagem img {
    width: 100%;
    height: auto;
    display: block;
}

#passagem {
    position: fixed;
    top: 60px;
    left: 0px;
    width: 380px;
    height: auto;
    z-index: 4;
    transition: none;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.menu button {
    background-color: #333;
    color: #fff;
    border: 2px solid #555;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.menu button:hover {
    background-color: #555;
}

#back-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
    font-family: 'Press Start 2P';
    background-color: #333;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 20000
}

#back-menu:hover {
    background-color: #555;
}

#inventario-janela {
    position: fixed;
    top: 70px;
    /* Ajusta para ficar logo abaixo do botão */
    right: 20px;
    background-color: rgba(20, 20, 20, 0.95);
    color: white;
    border: 2px solid white;
    padding: 20px;
    z-index: 30000;
    display: none;
    max-width: 250px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
}

#inventario-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto;
}

#interaction-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
    z-index: 20000;
}

#interaction-screen img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#videoPassagem {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: black;
}
