body {
    margin: 0;
    padding: 0;
    background-image: url('QUARTOS/quarto\ da\ duda.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

#Duda {
    position: absolute;
    top: 380px;
    right: 280px;
    width: 500px;
    height: 300px;

}

#Duda img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#player {
    position: absolute;
    width: 420px;
    left: 50px;
    top: 210px;
    transition: left 0.05s, top 0.05s;
    z-index: 0;
}

#interactionMessage {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: sans-serif;
    display: none;
    z-index: 15;
}

/* Estilos do diálogo */
#dialogueScreen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#dialogueContent {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: flex-end;
}

#ethanDialogue,
#dudaDialogue {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#ethanDialogue img,
#dudaDialogue img {
    max-height: 300px;
    max-width: 250px;
    width: auto;
    height: auto;
    object-fit: contain;
}


#dialogueText {
    width: 60%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    position: relative;
    min-height: 100px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#dialogueText p {
    margin: 0;
}

#dialogueIndicator {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 1.2em;
    animation: blink 0.8s infinite alternate;
    display: none;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.2;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
}

.menu button {
    background-color: #333;
    color: #fff;
    border: 2px solid #555;
    padding: 1rem 2rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}

.menu button:hover {
    background-color: #555;
}

#back-menu {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999;
    font-family: 'Press Start 2P';
    background-color: #333;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    z-index: 20000
}

#back-menu:hover {
    background-color: #555;
}

#inventario-janela {
    position: fixed;
    top: 70px;
    /* Ajusta para ficar logo abaixo do botão */
    right: 20px;
    background-color: rgba(20, 20, 20, 0.95);
    color: white;
    border: 2px solid white;
    padding: 20px;
    z-index: 30000;
    display: none;
    max-width: 250px;
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
}

#inventario-lista {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto;
}

#interaction-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    justify-content: center;
    align-items: center;
    z-index: 20000;
}

#interaction-screen img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}