/* Zerar margens e padding da página para evitar espaços */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  /* evita scrollbars que podem aparecer */
}

#videoPassagem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: black;
  object-fit: cover;
  display: block;
}